@{
    ViewData["Title"] = "User Page";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your user profile</p>




<p>
You log in as : @User.Identity.Name;

</p>

<p>
Email is: @User.Identity.Name;

</p>